# Personal files
terminal command copy.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
node_modules

# Environment variables
.env.local
.env*.local

# Next.js
.next/
out/

# Build artifacts
tsconfig.tsbuildinfo

# Large files
*.pdf
extracted_text.txt
